*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(#f2f2f22e, #f2f2f22e), url(../image/Drental.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

body div{
    background: #3f232390;
    color: #111111;
    border-radius: 16px;
    padding: 40px;
    text-align: center;
    width: 82%;
    margin: 15% auto 0;
    color: #FFFFFF;
}

div h1{
    font-size: 40px;
    font-weight: 700;
}

div p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}

body button{
    background: #9f77ea;
    padding: 20px 32px;
    box-shadow: inset 0 0 8px #111111;
    border: none;
    outline: none;
    border-radius: 8px;
}

body button a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}




@media screen and (max-width: 760px) {
    div h1{
        font-size: 32px;
    }
    body button{
        padding: 16px 20px;
        border-radius: 4px;
    }
}